name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci_tests:
    runs-on: ubuntu-latest
    name: Run Pytest Suite
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install -r default/requirements.txt
      - name: Run tests
        run: |
          python -m pytest tests/ -v --tb=short
